*{
  scroll-behavior: smooth;
  text-decoration: none;
}
a{
  color: inherit;
}

html{
  width: auto;
  height: 100%;
}


// ヘッダー
.header{ 
  width: 100%;
  height: auto;
  z-index: 100;
  // スクロール中にヘッダーが移動する
  top: 0;
  margin: 45px 0px 0px 60px;
  POSITION: FIXED;
    &Title{
      margin: 0 75px 0 0;
      font-size: 24px;
      font-weight: bold;
      text-decoration:none;
      color: white;
      vertical-align: middle;
      // ホバー[文字色が変化]
      color: powderblue;
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }

    &Menu{
      font-size: 20px;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
        &_item{
          float: left;
          margin: 0 45px 0 0;
          text-align: center;
        }
    }
}

.headerPortfolid{
  font-size: 11px;
  font-weight: bold;
  color: white;

}
.headerBlog{
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.headerNews{
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.main{
  width: auto;
  height: 100%;
  background-color: #5B5B5B;
}

.blogall{
  width: auto;
  height: 500px;
  background-color: #5B5B5B;
}

// フッター
.footer{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px 20px 20px;
  background-color: #000000;
  &Group{
    display: flex;
    border-bottom: 2px #BCBCBC solid;
    justify-content: space-around;

    &_Main{
      margin: 0.1em 1em 0.9em 0;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.3);
      // 色変化アニメーション
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }
    &_Menu{
      margin: 27px 0 0 0;
      gap: 20px;
      font-size: 20px;
      list-style: none;
      display: flex;
      color: #BCBCBC;
    }
  }
  &Secondary{
    padding: 15px 0 0;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
}

// 共通クラス名一覧
// 
// headerのタイトル関係
.commonPrimary{
  font-weight: bold;
  font-size: 20px;  
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

.commonSecondary{
  font-size: 14px;
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

// （primary/secondary)
.titlePrimary{
  font-size: 30px;
}
.titleSecondary{
  line-height: 1.5;
  font-size: 60px;
}

// ボタン関係
.moreButton{
  width: 220px;
  height: 50px;
  border-radius: 25px;
  margin: 40px auto 100px auto;
  padding-bottom: 1px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #EBEBEB;
  
  &_Cursor{
    text-decoration: none;
    cursor: pointer;
  }
}

// 説明文
.info{
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  width: fit-content;
  margin: 0 auto;
}