*{
  scroll-behavior: smooth;
  text-decoration: none;
}
a{
  color: inherit;
}

html{
  width: auto;
  height: 100%;
}

.hamburger_toggle{
  display: none;
}

.hamburger{
  display: none;
}


// 共通クラス名一覧
// 
// headerのタイトル関係
.commonPrimary{
  font-weight: bold;
  font-size: 20px;  
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

.commonSecondary{
  font-size: 14px;
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

// （primary/secondary)
.titlePrimary{
  font-size: 30px;
}
.titleSecondary{
  line-height: 1.5;
  font-size: 60px;
}

// ボタン関係
.moreButton{
  width: 220px;
  height: 50px;
  border-radius: 25px;
  margin: 40px auto 0;
  padding-bottom: 1px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #EBEBEB;
  
  &_Cursor{
    text-decoration: none;
    cursor: pointer;
  }
}

// 説明文
.info{
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  width: fit-content;
  margin: 0 auto;
}



// ヘッダー
.header{ 
  width: 100%;
  height: auto;
  z-index: 100;
  // スクロール中にヘッダーが移動する
  top: 0;
  margin: 45px 0px 0px 60px;
  POSITION: FIXED;
    &Title{
      margin: 0 75px 0 0;
      font-size: 24px;
      font-weight: bold;
      text-decoration:none;
      color: white;
      vertical-align: middle;
      // ホバー[文字色が変化]
      color: powderblue;
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }

    &Menu{
      font-size: 20px;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
        &_item{
          float: left;
          margin: 0 45px 0 0;
          text-align: center;
        }
    }
}

.headerPortfolid{
  font-size: 11px;
  font-weight: bold;
  color: white;

}
.headerBlog{
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.headerNews{
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.main{
  width: auto;
  height: 100%;
  background-color: #5B5B5B;
}

.blogall{
  width: auto;
  height: 500px;
  background-color: #5B5B5B;
}

// パンくずリスト[bread]
// 
.bread{
  &Unit{
    font: 17px;
    margin:0 0 5px;
    display: flex;
    list-style-type: none;
    padding: 130px 0 0px 24px;
    &_list{
      color: #FFFFFF;
      &:nth-child(2){
        color: rgb(204, 199, 199);
      }
      &Link{
        padding: 5px;
        &:hover{
          background-color: azure;
        }
      }
    }
  }
}
.articleUnit{
  width: 550px;
  padding-right: 20px;
  &_day{
    padding: 10px 5px;
    font-weight: 100;
    text-align: left;
  }
  &_wrap{
    display: flex;
    &List{
      margin: 5px;
      padding: 15px 0;
      font-size: 15px;
      display: flex;
      text-decoration: none;
      background-color: #C4C4C4;

      &-link{
        padding: 0 20px;
      }
    }
  }
  &_image{

  }
  &_title{
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;

  }
  &_content{
    padding: 5px 10px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    overflow:hidden;
    color: #FFFFFF;
    &:last-child{
      line-height: 80px;
    }
  }
}

.mainWrapper{
  background-color: #808080;
}

// カテゴリとお知らせページ セット
.secondaryArea{
  width: 100px;
  height: 100px;
  background-color: red;
}

// カテゴリ全体
//   メインタイトル
//   ボタン
//     リスト
//     リストのテキスト
.category{
  width: 310px;
  margin: 10px auto;
  &Title{
    display: flex;
    justify-content: space-evenly;
    &_Main{
      margin-top: 5.5px;
      color: white;
    }
    &_Button{
      margin-top: 1.3px;
      border: none;
      cursor: pointer;
      text-decoration: underline;
      color: white;
      background-color:rgba(255, 255, 255, 0);
    }
  }
  &Unit{
    margin: 10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    &_list{
      &Text{
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        margin: 3px;
        border: none;
        color: #000000;
        background-color: #C4C4C4;
      }
    }
  }
}

// ニュース/お知らせページ[news]
.news{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 60px 20px 60px;
  background: hsl(0, 0%, 36%);
  &Wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
  }
  &Group{
  }
  &Unit{
    width: 96%;
    height: auto;
    margin:10px auto;
    display: flex;
    border-radius: 10px;
    background-color: white;
    &_menu{
      width: 95%;
      margin: 0 auto;
      &-Row{
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 10px;
        padding: 15px 0;
        // ６番目以外を[border-bottom]を追加
        &:not(:last-child){
          padding: 20px 0;
          border-bottom: 2px #808080 solid;
        }
      }
    }
    &_text{
      font-size: 10px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
    &_titleText{
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  }
}

.categoryGroup{
  background-color:#8E8E8ECC;
}

// フッター
.footer{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px 20px 20px;
  background-color: #000000;
  &Group{
    display: flex;
    border-bottom: 2px #BCBCBC solid;
    justify-content: space-around;

    &_Main{
      margin: 0.1em 1em 0.9em 0;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.3);
      // 色変化アニメーション
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }
    &_Menu{
      margin: 27px 0 0 0;
      gap: 20px;
      font-size: 20px;
      list-style: none;
      display: flex;
      color: #BCBCBC;
    }
  }
  &Secondary{
    padding: 15px 0 0;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
}


// iPhone10〜からのスマホ対応
@media screen and (max-width: 375px){  
  .hamburgerTop{
    font-size: 25px;
  }
  .hamburgerBottom{
    font-size: 30px;
    line-height: 1.3;  
  }

  
  // （primary/secondary)
  .titlePrimary{
    font-size: 45px;
  }
  .titleSecondary{
    font-size: 68px;
  }
  // 説明文
  .info{
    font-size: 17px;
  }

  // ボタン関係
  .moreButton{
    display: none;
  }

  // ヘッダー
  .header{ 
    max-width: 85%;
    flex-direction: column;
      &Title{
        top: 70px;
        left: 15px;
        position: fixed;
      }
      &Menu{
        font-size: 20px;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
          &_item{
            float: left;
            margin: 0 45px 0 0;
            text-align: center;
          }
      }
  }

  .headerPortfolid{
    font-size: 11px;
    font-weight: bold;
    color: white;

  }
  .headerBlog{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }
  .headerNews{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }

  // ハンバーガーメニュー[ボタン]
  .hamburger_toggle{
    width: 50px;
    height: 30px;
    display: block;
    position: fixed;
    right: 35px;
    top: 70px;
    z-index: 1000;
  }
  .hamburger_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #333;
    transition: transform .5s, opacity .5s;
  }
  // ハンバーガーメニューの[i]の設定
  .hamburger_toggle i:nth-child(1) {
    top: 0;
  }
  .hamburger_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .hamburger_toggle i:nth-child(3) {
    bottom: 0;
  }
  // クリック後のアニメーション
  .hamburger_toggle.show i:nth-child(1) {
    transform: translateY(14.5px) rotate(-45deg);
  }
  .hamburger_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .hamburger_toggle.show i:nth-child(3) {
    transform: translateY(-14.5px) rotate(45deg);
  }

  // ハンバーガーメニュー[本体]
  .hamburger{
    display: block;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    background-color: rgba(101, 116, 222, 0.8);
    &Unit{
      margin-top: 90px;
      text-align: center;
      &_link{
        margin-top: 20px;
      }
    }
  }

  // ハンバーガーメニュー[本体]：アニメーション
  .hamburger.show {
    opacity: 1;
    visibility: visible;
  }

  .headerMenu{
    display: none;
  }

  .hamburger_toggle i{
    background: linear-gradient(90deg,#fc3e31 0%,#f2dc26 100%);
  }

 .newsContainer{
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
 }

 .newsUnit{
   margin-top: 30px;
   order: 2;
 }

  // フッター
  .footer{
    padding: 20px 20px 10px;
    &Group{
      flex-wrap: wrap;
      &_Main{
        margin: 0.1em 1em 0.9em 0;
        font-size: 30px;
      }
      &_Menu{
        gap: 20px

      }
    }
    &Secondary{
      padding: 15px 5px 0;
      font-size: 15px;
    }
  }

  .news{
    padding:0 10px;
  }
  .mainWrapper{
    margin: 0 20px 20px;
  }
  // お知らせの本文
  .articleUnit{
    width: auto;

    &_day{
    }
    &_wrap{
      &List{
        padding: 10px 0;

        &-link{
        }
      }
    }
    &_image{
  
    }
    &_title{
      font-size: 20px;
  
    }
    &_content{
      font-size: 16px;

      &:last-child{
        line-height: 25px;
      }
    }
  }

  .categoryGroup{
    margin: 30px auto 40px;
  }

  .newsUnit{
    display: none;
  }
  #secondaryBottom{
    display: none;
  }
}