*{
  scroll-behavior: smooth;
  text-decoration: none;
}
a{
  color: inherit;
}

html{
  width: auto;
  height: 100%;
}

// 共通クラス名一覧
// 
// headerのタイトル関係
.commonPrimary{
  font-weight: bold;
  font-size: 20px;  
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

.commonSecondary{
  font-size: 14px;
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

// （primary/secondary)
.titlePrimary{
  font-size: 30px;
}
.titleSecondary{
  line-height: 1.5;
  font-size: 60px;
}

// ボタン関係
.moreButton{
  width: 220px;
  height: 50px;
  border-radius: 25px;
  margin: 70px auto 0 auto;
  padding-bottom: 1px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #EBEBEB;
  
  &_Cursor{
    text-decoration: none;
    cursor: pointer;
  }
}

// 説明文
.info{
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  width: fit-content;
  margin: 0 auto;
}

// ヘッダー
.header{ 
  width: 100%;
  height: auto;
  z-index: 100;
  // スクロール中にヘッダーが移動する
  top: 0;
  margin: 45px 0px 0px 60px;
  POSITION: FIXED;
    &Title{
      margin: 0 75px 0 0;
      font-size: 24px;
      font-weight: bold;
      text-decoration:none;
      color: white;
      vertical-align: middle;
      // ホバー[文字色が変化]
      color: powderblue;
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }

    &Menu{
      font-size: 20px;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
        &_item{
          float: left;
          margin: 0 45px 0 0;
          text-align: center;
        }
    }
}

.headerPortfolid{
  font-size: 11px;
  font-weight: bold;
  color: white;

}
.headerBlog{
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.headerNews{
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.bread{
  &Unit{
    font: 17.5px;
    margin:0 0 5px 20px;
    display: flex;
    list-style-type: none;
    &_list{
      color: #FFFFFF;
      &:nth-child(2){
        color: rgb(204, 199, 199);
      }
      &Link{
        padding: 5px;
        &:hover{
          background-color: azure;
        }
      }
    }
  }
}

// ニュース/お知らせページ
.news{
  height: auto;
  width: 100%;
  padding: 70px 0;
  box-sizing: border-box;
  background: hsl(0, 0%, 36%);
  &Group{
  }
  &Unit{
    width: 62%;
    height: auto;
    display: flex;
    border:none;
    border-radius: 10px;
    background-color: #8E8E8E;
    &_menu{
      margin: 0 auto;
      width: 96%;
      &-Row{
        display: flex;
        text-decoration: none;
        gap: 20px;
        padding: 15px 0;
        // ６番目以外を[border-bottom]を追加
        &:not(:last-child){
          padding: 15px 0;
          border-bottom: 1px white solid;
        }
      }
    }
    &_text{
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #FFFFFF;
    }
    &_titleText{
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

// カテゴリーの編集場所
// 
// カテゴリ全体
//   メインタイトル
//   ボタン
//     リスト
//     リストのテキスト
.category{
  width: 290px;
  margin-right: 15px;
  // margin: 0 15px 100px 0;
  border-radius: 5px;
  background-color: #978f8f;
  &Title{
    display: flex;
    justify-content: space-evenly;
    &_Main{
      margin-top: 5.5px;
      color: white;
    }
    &_Button{
      margin-top: 1.3px;
      border: none;
      cursor: pointer;
      text-decoration: underline;
      color: white;
      background-color:rgba(255, 255, 255, 0);
    }
  }
  &Unit{
    margin: 10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    &_list{
      &Text{
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        margin: 3px;
        border: none;
        color: #000000;
        background-color: #C4C4C4;
      }
    }
  }
}

// ページネーション
.example{
  width: 62%;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  &List{
    &_link{
      padding: 20px;
      margin-top: 50px;
      display: block;
      box-sizing: border-box;
      background-color: #FFFFFF;

    }
  }
}
.sidebutton{
  background-color: rgb(172, 170, 170);
}

.checkedbutton{
 background-color: red;
}

// newsのflex関係
.newsContainer{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
  align-items: end;
}

// newsのリンク設定
.categoryUnit_link{
  
}

// フッター
.footer{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px 20px 20px;
  background-color: #000000;
  &Group{
    display: flex;
    border-bottom: 2px #BCBCBC solid;
    justify-content: space-around;

    &_Main{
      margin: 0.1em 1em 0.9em 0;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.3);
      // 色変化アニメーション
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }
    &_Menu{
      margin: 27px 0 0 0;
      gap: 20px;
      font-size: 20px;
      list-style: none;
      display: flex;
      color: #BCBCBC;
    }
  }
  &Secondary{
    padding: 15px 0 0;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
}

// iPhone10〜からのスマホ対応
@media screen and (max-width: 375px){  
  .hamburgerTop{
    font-size: 25px;
  }
  .hamburgerBottom{
    font-size: 30px;
    line-height: 1.3;  
  }

  
  // （primary/secondary)
  .titlePrimary{
    font-size: 45px;
  }
  .titleSecondary{
    font-size: 68px;
  }
  // 説明文
  .info{
    font-size: 17px;
  }

  // ボタン関係
  .moreButton{
    display: none;
  }

  .moreButtonsp{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    margin: 40px auto 20px auto;
    padding-bottom: 1px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    background-color: #EBEBEB;
    order: 3;
    &_Cursorsp{
      text-decoration: none;
      cursor: pointer;
    }
  }

  // ヘッダー
  .header{ 
    max-width: 85%;
    flex-direction: column;
      &Title{
        top: 70px;
        left: 15px;
        position: fixed;
      }
      &Menu{
        font-size: 20px;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
          &_item{
            float: left;
            margin: 0 45px 0 0;
            text-align: center;
          }
      }
  }

  .headerPortfolid{
    font-size: 11px;
    font-weight: bold;
    color: white;

  }
  .headerBlog{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }
  .headerNews{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }

    // ハンバーガーメニュー[ボタン]
    .hamburger_toggle{
      width: 50px;
      height: 30px;
      display: block;
      position: fixed;
      right: 35px;
      top: 70px;
      z-index: 1000;
    }
    .hamburger_toggle i {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #333;
      transition: transform .5s, opacity .5s;
    }
    // ハンバーガーメニューの[i]の設定
    .hamburger_toggle i:nth-child(1) {
      top: 0;
    }
    .hamburger_toggle i:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .hamburger_toggle i:nth-child(3) {
      bottom: 0;
    }
    // クリック後のアニメーション
    .hamburger_toggle.show i:nth-child(1) {
      transform: translateY(14.5px) rotate(-45deg);
    }
    .hamburger_toggle.show i:nth-child(2) {
      opacity: 0;
    }
    .hamburger_toggle.show i:nth-child(3) {
      transform: translateY(-14.5px) rotate(45deg);
    }
  
    // ハンバーガーメニュー[本体]
    .hamburger{
      display: block;
      position: fixed;
      top: 3rem;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      background-color: rgba(101, 116, 222, 0.8);
      &Unit{
        margin-top: 90px;
        text-align: center;
        &_link{
          margin-top: 20px;
        }
      }
    }
    // ハンバーガーメニュー[本体]：アニメーション
    .hamburger.show {
      opacity: 1;
      visibility: visible;
    }
  
    .headerMenu{
      display: none;
    }

    .hamburger_toggle i{
      background: linear-gradient(90deg,#fc3e31 0%,#f2dc26 100%);
    }
  }
