.body{
  background:#000000;

}

// ヘッダー
.header{ 
  background: #919191;
  width: 100%;
  height: auto;

  &＿_title{

  }
  &__Menu{

  }
}

.mainTitle{
}

.footer{
  background: #919191;
  width: 100%;
  height: auto;

  &__Title{

  }
  &__Menu{

  }
}