*{
  scroll-behavior: smooth;
  text-decoration: none;
}
a{
  color: inherit;
}

html{
  width: auto;
  height: 100%;
}

// ヘッダー
.header{ 
  width: 100%;
  height: auto;
  z-index: 100;
  // スクロール中にヘッダーが移動する
  top: 0;
  margin: 45px 0px 0px 60px;
  POSITION: FIXED;
    &Title{
      margin: 0 75px 0 0;
      font-size: 24px;
      font-weight: bold;
      text-decoration:none;
      color: white;
      vertical-align: middle;
      // ホバー[文字色が変化]
      color: powderblue;
      transition: color .2s;
      &:hover{
        color: gold;
      }
    }

    &Menu{
      font-size: 20px;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
        &_item{
          float: left;
          margin: 0 45px 0 0;
          text-align: center;
        }
    }
}


// メイン
.main{
  background-color: #000000;
  &Feature{
    width: 100%;
    height: 100vh;
    &_wave{
      top: 0; left: 0;
      width: 100%; height: 100%;
      --waveSize: 6.5em;
      --waveColor1: blue;
      --waveColor2: dodgerblue;
      background: 
        radial-gradient(circle at 50% calc(100% - var(--waveSize)), 
          transparent 50%, var(--waveColor1) 50%) left 102% / var(--waveSize) var(--waveSize) repeat-x,
        radial-gradient(circle at 50% 10%, 
          transparent 50%, var(--waveColor2) 50%) center bottom / var(--waveSize) var(--waveSize) repeat-x,
        }
        background:linear-gradient(45deg, lightblue,dodgerblue,midnightblue);/*グラデーションを定義*/
        background-size: 200% 200%;/*サイズを大きくひきのばす*/
        animation: bggradient 30s ease infinite;
    ;
    @keyframes bggradient{
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    &_Button{
      left: 0;
      right: 0;
      bottom: 1.7ex;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      font-size: 30px;
      color: white;
      opacity: 0.9;
      background: transparent;
      display: block;

      background: saddlebrown;
      border: 2px ridge brown;
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-radius: 15px;
      // 上下移動アニメーション
      animation-name: UpUpDownDown;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1.5s;
      &intro{
        display: block;
        color: aliceblue;
        text-decoration: none;
      }
    }
  }
  // 雲
  .bubbles {
    width: 100%;
    height: 100%;
  }
  
  .bubble {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: bubble 10s ease infinite;
    background: whitesmoke;
  }
  
  .bubble:nth-child(1) {
    width: 87px;
    height: 45px;
    left: 0;
    top: 19%;
    animation-duration: 5s;
  }
  
  .bubble:nth-child(2) {
    width: 200px;
    height: 70px;
    left: 10%;
    top: 11%;
    animation-delay: 1s;
  }
  
  .bubble:nth-child(3) {
    width: 130px;
    height: 50px;
    left: 25%;
    top: 7%;
    animation-duration: 3s;
  }
  
  .bubble:nth-child(4) {
    width: 180px;
    height: 60px;
    right: 23%;
    top: 5%;
    animation-duration: 6s;
    animation-delay: 2s;
  }
  
  .bubble:nth-child(5) {
    width: 100px;
    height: 40px;
    right: 11%;
    top: 15%;
    animation-duration: 3.5s;
  }
  
  .bubble:nth-child(6) {
    width: 80px;
    height: 40px;
    right: 23%;
    top: 20%;
    animation-duration: 5s;
  }
  
  .bubble:nth-child(7) {
    width: 160px;
    height: 50px;
    right: 45%;
    top: 15%;
    animation-duration: 4s;
  }
  
  @keyframes bubble {
    0% {
      bottom: -100px;
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      bottom: 1000px;
    }
  }
}
// アニメーションネーム
@keyframes UpUpDownDown{
  0%{
    transform: translate(0,0px);    
  }
  100%{
    transform: translate(0,-15px);
  }
}

.hamburger_toggle{
  display: none;
}

.hamburger{
  display: none;
}

// ニュース
.news{
  width: 100%;
  height: auto;
  padding: 150px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  background: hsl(0, 0%, 36%);
  &Group{
    margin-left: 150px;
  }
  &Unit{
    width: 47%;
    height: auto;
    display: flex;
    border:none;
    border-radius: 10px;
    background-color: white;
    &_menu{
      margin: 0 auto;
      width: 95%;
      &-Row{
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 20px;
        padding: 15px 0;
        &lead{
          width: 105px;
        }
        // ６番目以外を[border-bottom]を追加
        &:not(:last-child){
          padding: 15px 0;
          border-bottom: 3px #808080 solid;
        }
      }
    }
    &_text{
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
  }
}

// 実績
.portfolioArea{
  width: 100%;
  height: auto;
  padding: 80px 90px;
  gap: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background: #919191;
}

.portfolio{
  width: 50%;
  &Group{
  }
}

// ブログ
.blogArea{
  width: 100%;
  height: auto;
  text-align: center;
  background: #BCBCBC;
  padding: 1px;
}

.blog{
  &Group{
    padding-top: 30px;
  }
  &Slider{
    width: auto;
    height: 150px;
    margin: 20px 20px;
    background-color: #C4C4C4;
    &_title{
    }
  }
}

// フッター
.footer{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px 20px 20px;
  background-color: #000000;
  &Group{
    display: flex;
    border-bottom: 2px #BCBCBC solid;
    justify-content: space-around;

    &_Main{
      margin: 0.1em 1em 0.9em 0;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.3);
      &:hover{
        text-shadow: red;
        color: sandybrown;
      }
  

    }
    &_Menu{
      margin: 27px 0 0 0;
      gap: 20px;
      font-size: 20px;
      list-style: none;
      display: flex;
      color: #BCBCBC;
    }
  }
  &Secondary{
    padding: 15px 0 0;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
}

// 共通クラス名一覧
// 
// headerのタイトル関係
.commonPrimary{
  font-weight: bold;
  font-size: 20px;  
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

.commonSecondary{
  font-size: 14px;
  text-decoration: none;
  color: white;
  // ホバー[文字色が変化]
  color: powderblue;
  transition: color .2s;
  &:hover{
    color: gold;
  }
}

// （primary/secondary)
.titlePrimary{
  font-size: 30px;
}
.titleSecondary{
  line-height: 1.5;
  font-size: 60px;
}

// ボタン関係
.moreButton{
  width: 220px;
  height: 50px;
  border-radius: 25px;
  margin: 40px auto 100px auto;
  padding-bottom: 1px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #EBEBEB;
  
  &_Cursor{
    text-decoration: none;
    cursor: pointer;
  }
}
.moreButtonsp{
display: none;
}

// 説明文
.info{
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  width: fit-content;
  margin: 0 auto;
}

// スライドショー [swiper]
.slideTop{
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto;
  padding: px 20px;
  border: 3px solid ;
  font-size: 15px;
  background-color: #FFFFFF;
  
}

.swiper-slide{
  overflow: hidden;
}
.slideImage{
  width: auto;
  height: 200px;
}
.slideBottom{

}

.portfolioImage{
  height: 100%;
  width: 200px;
}

// iPhone10〜からのスマホ対応
@media screen and (max-width: 375px){  
  .hamburgerTop{
    font-size: 25px;
  }
  .hamburgerBottom{
    font-size: 30px;
    line-height: 1.3;  
  }

  
  // （primary/secondary)
  .titlePrimary{
    font-size: 45px;
  }
  .titleSecondary{
    font-size: 68px;
  }
  // 説明文
  .info{
    font-size: 17px;
  }

  // ボタン関係
  .moreButton{
    display: none;
  }

  .moreButtonsp{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    margin: 40px auto 20px auto;
    padding-bottom: 1px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    background-color: #EBEBEB;
    order: 3;
    &_Cursorsp{
      text-decoration: none;
      cursor: pointer;
    }
  }

  // ヘッダー
  .header{ 
    max-width: 85%;
    flex-direction: column;
      &Title{
        top: 70px;
        left: 15px;
        position: fixed;
      }
      &Menu{
        font-size: 20px;
        list-style: none;
        display: inline-block;
        vertical-align: middle;
          &_item{
            float: left;
            margin: 0 45px 0 0;
            text-align: center;
          }
      }
  }

  .headerPortfolid{
    font-size: 11px;
    font-weight: bold;
    color: white;

  }
  .headerBlog{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }
  .headerNews{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }

    // ハンバーガーメニュー[ボタン]
    .hamburger_toggle{
      width: 50px;
      height: 30px;
      display: block;
      position: fixed;
      right: 35px;
      top: 70px;
      z-index: 1000;
    }
    .hamburger_toggle i {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #333;
      transition: transform .5s, opacity .5s;
    }
    // ハンバーガーメニューの[i]の設定
    .hamburger_toggle i:nth-child(1) {
      top: 0;
    }
    .hamburger_toggle i:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .hamburger_toggle i:nth-child(3) {
      bottom: 0;
    }
    // クリック後のアニメーション
    .hamburger_toggle.show i:nth-child(1) {
      transform: translateY(14.5px) rotate(-45deg);
    }
    .hamburger_toggle.show i:nth-child(2) {
      opacity: 0;
    }
    .hamburger_toggle.show i:nth-child(3) {
      transform: translateY(-14.5px) rotate(45deg);
    }
  
    // ハンバーガーメニュー[本体]
    .hamburger{
      display: block;
      position: fixed;
      top: 3rem;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      background-color: rgba(101, 116, 222, 0.8);
      &Unit{
        margin-top: 90px;
        text-align: center;
        &_link{
          margin-top: 20px;
        }
      }
    }
    // ハンバーガーメニュー[本体]：アニメーション
    .hamburger.show {
      opacity: 1;
      visibility: visible;
    }
  
    .headerMenu{
      display: none;
    }

    .hamburger_toggle i{
      background: linear-gradient(90deg,#fc3e31 0%,#f2dc26 100%);
    }

  // メイン
  .main{
    background-color: #000000;
    &Feature{
      width: 100%;
      height: 100vh;
      &_Button{
        bottom: 1.5ex;
        background:saddlebrown;
        &intro{

        }
      }
    }
  }
  // アニメーションネーム
  @keyframes UpUpDownDown{
    0%{
      transform: translate(0,0px);    
    }
    100%{
      transform: translate(0,-15px);
    }
  }

  .headerPortfolid{
    font-size: 11px;
    font-weight: bold;
    color: white;
  
  }
  .headerBlog{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }
  .headerNews{
    font-size: 11px;
    font-weight: bold;
    color: white;
  }

  // ニュース 
  .news{
    padding: 60px 20px;
    flex-wrap: wrap;
    &Group{
      margin: 0 auto 30px;
    }
    &Unit{
      width: 100%;
      height: auto;
      display: flex;
      border:none;
      border-radius: 10px;
      background-color: white;
      &_menu{
        &-Row{
          display: flex;
          align-items: center;
          text-decoration: none;
          gap: 20px;
          padding: 15px 0;
          // ６番目以外を[border-bottom]を追加
          &:not(:last-child){
            padding: 15px 0;
            border-bottom: 3px #808080 solid;
          }
        }
      }
      &_text{
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
    }
  }

  // 実績
  .portfolioArea{
    flex-wrap: wrap;
  }

  .portfolio{
    width: 100%;
    order: 2;
  }

  .slideTop{
    padding: 17px 10px;
  }
  // フッター
  .footer{
    padding: 20px 20px 10px;
    &Group{
      flex-wrap: wrap;
      &_Main{
        margin: 0.1em 1em 0.9em 0;
        font-size: 30px;
      }
      &_Menu{
        gap: 20px

      }
    }
    &Secondary{
      padding: 15px 5px 0;
      font-size: 15px;
    }
  }
  .swiper-button-next, .swiper-button-prev{
    top: 80%;
  }
}