.body{
  width: 100%;
}

// ヘッダー
.header{ 
  width: 1440px;
  height: 880px;

  postion: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: #000000;

  &＿_Title{

  }
  &__Menu{
    &__word{
      font-size: 20px;
    }
  }
}

.news{
  width: 1440px;
  height: 880px;
  background: #5B5B5B;
}

.portfolio{
  width: 1440px;
  height: 880px;
  background: #919191;
}

.blog{
  width: 1440px;
  height: 880px;
  background: #BCBCBC;
}

.footer{
  width: 100%;
  height: auto;
  background-color: #000000;

  &__Title{

  }
  &__Menu{

  }
}